.products {
  /* max-width: 1250px; */
  /* margin: 0 auto; */
  display: grid;
  column-gap: 5px;
  grid-template-columns: repeat(4, 1fr);

  padding: 5px;
  max-width: 821px;
  background-color: blueviolet;
}

@media (max-width: 1000px) {
  .products {
    grid-template-columns: repeat(3, 1fr);
    justify-items: stretch;
  }
}

@media (max-width: 875px) {
  .products {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Mobile */
@media (max-width: 700px) {
  .products {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* * {
  border: 0 solid;
  box-sizing: border-box;
} */
