@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>HANTERA COOKIES</h1>

<p>När du besöker Webbplatsen för första gången ber vi dig att samtycka till användningen av icke-nödvändiga cookies. Du kan när som helst dra tillbaka ditt samtycke. Om du inte längre vill lagra de Cookies du har samtyckt till kan du använda dina webbläsarinställningar för att godkänna, neka och ta bort Cookies (finns vanligtvis under "Hjälp", "Verktyg" eller "Redigera"). Notera att du kanske inte kan använda alla funktioner på Webbplatsen om du väljer att neka Cookies.</p>

<h1>VARFÖR OCH FÖR VEM?</h1>
<p>Hakim Livs AB använder cookies och andra spårningstekniker ("Cookies") för att förbättra din användarupplevelse.</p>