.login-button {
  background: url('../../assets/graphics/login.jpg');
  background-repeat: no-repeat;
  background-position: 10% 50%;
  background-size: 1.5rem;
  width: 100px;
  height: 60px;
  margin: 10px;
  background-color: rgb(243, 243, 243);
  border-radius: 10px;
  box-shadow: 3px 3px 3px yellow;
}

.login-button:hover {
  background-color: red;
}

.login-button p {
  position: relative;
  inset: 0 0 0 13px;
}

a {
  text-decoration: none;
}
