.button {
  width: 100px;
  height: 60px;
  border-radius: 10px;
  box-shadow: 3px 3px 3px yellow;
}

.button:hover {
  background-color: red;
}

.button p {
  font-size: 15px;
}

a {
  text-decoration: none;
}

#login-button {
  background-image: url('../../assets/graphics/login.jpg');
  background-repeat: no-repeat;
  background-position: 10% 50%;
  background-size: 1.3rem;
}

#login-button-text {
  position: relative;
  inset: 0 0 0 13px;
}

#cart-button {
  margin-left: 10px;
  margin-right: 2rem;
}
