.button {
  position: relative;
  inset: 1rem 0 0 0;
  width: 110px;
  height: 60px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.button:active {
  transform: scale(0.98);
}

.header-buttons .button p {
  font-size: 15px;
}

.header-buttons a,
.header-buttons a:visited {
  text-decoration: none;
  color: black;
}

#login-button {
  background-image: url('../../assets/graphics/login.jpg');
  background-repeat: no-repeat;
  background-position: 10% 50%;
  background-size: 1.3rem;
}

#login-button-text {
  position: relative;
  inset: 0 0 0 13px;
}

#cart-button {
  margin-right: 2rem;
}

.header-buttons .button {
  background-color: #fff;
}

.cart-button {
  position: relative;
}

.counter {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  inset: -3.5rem 0 0 5.5rem;
  width: 2rem;
  height: 2rem;
  background-color: black;
  border-radius: 50%;
}

#counter {
  color: white;
}
