.category-wrapper {
  position: relative;
  background-color: #F7F5F5;
}

.category-wrapper li {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.category-wrapper img {
  margin: 5px;
  width: 2rem;
}

.category-wrapper h1 {
  position: relative;
  font-size: 1rem;
  color: #6A1010;
  margin-left: 1rem;
}
