.outer-element {
  display: flex;
  justify-content: center;
  height: 100px;
  position: absolute;
  inset: 0px;
  background-color: white;
}

.inner-element {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1250px;
  min-width: 800px;
  width: 85%;
  height: 100px;
  background-color: blue;
}

.inner-element img {
  transform: rotate(180deg);
  max-height: 100px;
  flex: 1;
  background-color: black;
  margin-left: 10px;
  margin-right: 10px;
}

.inner-element .searchbar-element {
  margin: 1rem;
  width: auto;
  background-color: green;
  flex: 1;
}
