.item-summary-wrapper {
  border-top: 1px solid #ac9a9a;
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 80% 1fr;
  align-items: center;
  justify-items: center;
}

.item {
  display: grid;
  justify-self: start;
}

#increase-qty {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ec7d7d;
  color: #fff;
}

#count {
  text-align: center;
  width: 2rem;
  margin-left: 5px;
  margin-right: 5px;
}

#decrease-qty {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ec7d7d;
  color: #fff;
}

#remove-from-cart {
  width: 30px;
  height: 30px;
}

#remove-from-cart-image {
  position: relative;
  top: 2px;
  width: 1.5rem;
  height: 1.5rem;
}

.item-action {
  position: relative;
  right: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
}
