.item-summary-wrapper {
  display: grid;
  grid-template-columns: 1fr 80% auto;
  border-top: 1px solid #ac9a9a;
  background-color: white;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 5px;
  max-width: 900px;
  width: auto;
}

#remove-from-cart {
  width: 30px;
  height: 30px;
  margin-left: 5px;
  margin-right: 5px;
}

#remove-from-cart-image {
  height: 1.5rem;
}

.item {
  display: grid;
}

#increase-qty {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ec7d7d;
  color: #fff;
}

#increase-qty:active {
  transform: scale(0.98);
}

#count {
  text-align: center;
  width: 2rem;
  margin-left: 5px;
  margin-right: 5px;
  font-weight: bold;
}

#decrease-qty {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ec7d7d;
  color: #fff;
}

#decrease-qty:active {
  transform: scale(0.98);
}

.item-action {
  display: flex;
  justify-content: center;
  align-items: center;
}
