body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: burlywood;
}

.header {
  display: flex;
  align-items: center;
  max-width: 900px;
  height: 100px;
  background-color: teal;
}

.product-page {
  height: 850px;
  max-width: 900px;
  background-color: brown;
  color: white;
  overflow-y: scroll;
}

.logo {
  color: white;
  width: 150px;
  height: 100px;
  background-color: black;
}

#photo {
  width: 35px;
  height: 35px;
  background-color: red;
  border: 15px solid black;
  border-radius: 50%;
}
