.product-wrapper {
  display: flex;
  justify-content: center;
  background-color: white;
  max-width: 280px;
  width: auto;
  height: 250px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgb(255, 90, 90);
  margin-top: 5px;
}

.product {
  text-align: center;
  width: auto;
  height: 250px;
  /* background-color: aqua; */
}

.product h1 {
  height: 50px;
  font-size: 14px;
}

.product h2 {
  height: 50px;
  font-size: 15px;
  margin-top: -1rem;
}

.product h3 {
  height: 20px;
  font-size: 13px;
}

.product p {
  height: 50px;
  font-size: 12px;
  overflow: hidden;
}

.product-button {
  position: relative;
  inset: -5px 0 0 0;
  width: 12rem;
  padding: 0.5rem;
}
