.product-wrapper {
  min-width: 0;
  position: relative;
  grid-row-gap: .5rem;
  background: #fff;
  border-radius: .625rem;
  display: grid;
  grid-template-rows: 1fr auto;
  padding: .25rem;
  row-gap: .5rem;
}

.product {
  text-align: center;
}

.product h1 {
  height: 50px;
  font-size: 14px;
}

.product h2 {
  height: 50px;
  font-size: 15px;
}

.product h3 {
  height: 20px;
  font-size: 13px;
}

.product p {
  height: 50px;
  font-size: 12px;
  overflow: hidden;
}

.product-button {
  position: relative;
  padding: 0.5rem;
}
